

.search-input{
    margin-bottom: 1rem;
}

.list-container{
    overflow: scroll;
}

.list-data{
    color: white;
}

.list-object{
    padding:1rem;
    border-bottom: solid white 1px;
    display: flex;
    justify-content: space-between;
}