@import './variables.scss';

body{
  background-color: #000000bf;
}

.App{
  margin: 2rem;
  
}

h1, h2, h3, p{
  color: $text-color;
}



.widget{
  padding: 1rem;
  background-color: black;
  border-radius: 10px;
}


.parent {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr repeat(2, 4fr) 5fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 1 / 4 / 2 / 5; }
  .div5 { grid-area: 2 / 1 / 3 / 3; }
  .div6 { grid-area: 2 / 3 / 3 / 5; }
  .div7 { grid-area: 3 / 1 / 4 / 5; }
  .div8 { grid-area: 4 / 1 / 5 / 4; }
  .div9 { grid-area: 4 / 4 / 5 / 5; }


.circle{
  border-radius: 10px;
  width: $circle-size;
  height: $circle-size;
  
}

.blue{
  background-color: blue;
}

.red{
  background-color: red;
}

.green{
  background-color: greenyellow;
}

.purple{
  background-color: #d41aad;
}
  
